# Crystalvalue Demo: Predictive Customer LifeTime Value for a Retail Store

Crystalvalue is a best practice comprehensive solution for running predictive LTV solutions leveraging Google Cloud Vertex AI. 

This demo runs the Crystalvalue python library in a notebook, from feature engineering to scheduling predictions. It uses the [Online Retail II data set from Kaggle](https://www.kaggle.com/mashlyn/online-retail-ii-uci) which contains transactions for a UK retail store between 2009 and 2011. Enable the [Vertex API](https://console.cloud.google.com/flows/enableapi?apiid=aiplatform.googleapis.com,storage-component.googleapis.com) for this demo to run.

This notebook assumes that it is being run from within a [Google Cloud Platform AI Notebook](https://console.cloud.google.com/vertex-ai/notebooks/list/instances) with a Compute Engine default service account (the default setting when an AI Notebook is created) and TensorFlow backend. Ensure that the [Compute Engine default service account API](https://console.cloud.google.com/flows/enableapi?apiid=compute.googleapis.com) is enabled. When running it on your own data, we recommend [setting up your own service account](https://cloud.google.com/vertex-ai/docs/pipelines/configure-project).

If you would like to share feedback about Crystalvalue, please email crystalvalue@google.com.

# Clone the Crystalvalue codebase

Start by cloning the Crystalvalue codebase and running a demo notebook from the root directory. To run Crystalvalue on your own data, simply change the parameters to it works on your data.

```git clone https://github.com/google/crystalvalue```

# Imports

In [1]:
from src import crystalvalue

In [2]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [3]:
CREDENTIALS_PATH = "secrets/gcp_credentials.json"
DATA_PATH = "data/cleaned.csv"
PARAMETERS_FILENAME = "data/crystalvalue_parameters.json"

GCP_PROJECT_ID = "pltv-457408"
GCP_LOCATION = "europe-west9"
GCP_DATASET_ID = "crystalvalue"
GCP_TABLE_ID_TRAIN = "train"
GCP_TABLE_ID_PREDICT = "predict"

CUSTOMER_ID_COLUMN = "customer_id"
DATE_COLUMN = "date"
VALUE_COLUMN = "value"
IGNORE_COLUMNS = ["order_number", "days_to_next_order"] # we ignore days_to_next_order because it is calculated by crystalvalue

LOOKBACK_DAYS = 365
LOOKAHEAD_DAYS = 365

TEST_YEAR = 2024
TEST_MONTH = 3

# Load & preprocess data

In [4]:
# Read the data and rename the columns to be BiqQuery friendly (no spaces).
data = pd.read_csv(DATA_PATH)
data.head()

,customer_id,date,order_number,shipping_address_zip,value,value_cat1,value_cat2,value_cat3,value_cat4,value_cat5,value_cat6,value_uncategorized,order_index,days_to_next_order
0,328,2022-06-01,761,93320,48.23,NaN,1.65,2.34,NaN,NaN,NaN,44.24,4,40.0
1,552,2022-06-01,762,17100,55.91,1.37,NaN,5.01,5.24,NaN,NaN,44.29,1,84.0
2,487,2022-06-01,763,7320,36.12,NaN,NaN,NaN,NaN,NaN,NaN,36.12,2,334.0
3,553,2022-06-01,764,13360,11.08,NaN,NaN,2.33,NaN,NaN,NaN,8.75,1,NaN
4,277,2022-06-01,765,45000,33.95,NaN,NaN,NaN,1.67,5.6,NaN,26.68,3,23.0

In [5]:
value_cols = [f"value_cat{i}" for i in range(1, 7)]
value_cols.append("value_uncategorized")

# replace na with 0 since na means category product is not ordered
data[value_cols] = data[value_cols].fillna(0)

# create value column as sum of per category value
data["value"] = data[value_cols].sum(axis=1)

In [6]:
# convert order_index to category
data["order_index"] = data["order_index"].astype("string")

In [7]:
data.head()

,customer_id,date,order_number,shipping_address_zip,value,value_cat1,value_cat2,value_cat3,value_cat4,value_cat5,value_cat6,value_uncategorized,order_index,days_to_next_order
0,328,2022-06-01,761,93320,48.23,0.00,1.65,2.34,0.00,0.0,0.0,44.24,4,40.0
1,552,2022-06-01,762,17100,55.91,1.37,0.00,5.01,5.24,0.0,0.0,44.29,1,84.0
2,487,2022-06-01,763,7320,36.12,0.00,0.00,0.00,0.00,0.0,0.0,36.12,2,334.0
3,553,2022-06-01,764,13360,11.08,0.00,0.00,2.33,0.00,0.0,0.0,8.75,1,NaN
4,277,2022-06-01,765,45000,33.95,0.00,0.00,0.00,1.67,5.6,0.0,26.68,3,23.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53505 entries, 0 to 53504
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   customer_id           53505 non-null  int64
 1   date                  53505 non-null  object
 2   order_number          53505 non-null  int64
 3   shipping_address_zip  53220 non-null  object
 4   value                 53505 non-null  float64
 5   value_cat1            53505 non-null  float64
 6   value_cat2            53505 non-null  float64
 7   value_cat3            53505 non-null  float64
 8   value_cat4            53505 non-null  float64
 9   value_cat5            53505 non-null  float64
 10  value_cat6            53505 non-null  float64
 11  value_uncategorized   53505 non-null  float64
 12  order_index           53505 non-null  string
 13  days_to_next_order    27592 non-null  float64
dtypes: float64(9), int64(2), object(2), string(1)
memory usage: 5.7+ MB

# Train/Test split

In [9]:
first_orders = data.groupby("customer_id")["date"].min().reset_index()
first_orders["date"] = pd.to_datetime(first_orders["date"])

predict_mask = (first_orders["date"].dt.year == TEST_YEAR) & (first_orders["date"].dt.month == TEST_MONTH)
predict_customer_ids = first_orders[predict_mask]["customer_id"].tolist()

predict_data = data[data["customer_id"].isin(predict_customer_ids)]\
    .sort_values(["customer_id", "date"], ascending=[True, True])\
    .reset_index(drop=True)

train_data = data[~data["customer_id"].isin(predict_customer_ids)]\
    .sort_values(["customer_id", "date"], ascending=[True, True])\
    .reset_index(drop=True)

train_data.shape, predict_data.shape

((51359, 14), (2146, 14))

In [10]:
predict_data.head(10)

,customer_id,date,order_number,shipping_address_zip,value,value_cat1,value_cat2,value_cat3,value_cat4,value_cat5,value_cat6,value_uncategorized,order_index,days_to_next_order
0,338,2024-03-29,26696,57920,65.00,0.00,0.00,39.16,14.86,7.63,3.35,0.0,2,NaN
1,351,2024-03-22,26059,93160,40.25,0.00,0.00,1.75,38.50,0.00,0.00,0.0,2,NaN
2,13788,2024-03-01,24901,57070,39.75,0.00,0.00,39.75,0.00,0.00,0.00,0.0,1,NaN
3,13789,2024-03-01,24905,33360,63.50,0.00,6.05,17.78,13.07,11.60,0.00,15.0,1,NaN
4,13790,2024-03-01,24907,24130,39.46,0.00,0.00,34.36,0.00,5.10,0.00,0.0,1,51.0
5,13790,2024-04-21,28388,24130,81.31,0.00,0.00,60.86,20.45,0.00,0.00,0.0,2,82.0
6,13790,2024-07-12,33488,13960,62.42,0.00,0.00,62.42,0.00,0.00,0.00,0.0,3,108.0
7,13790,2024-10-28,40052,24130,48.81,4.12,2.77,0.00,0.00,41.92,0.00,0.0,4,38.0
8,13790,2024-12-05,43129,24130,52.39,0.00,0.00,23.00,0.00,29.39,0.00,0.0,5,NaN
9,13791,2024-03-01,24910,93270,15.31,12.39,0.00,0.00,1.70,1.22,0.00,0.0,1,NaN

# Initializing Crystalvalue

First create a dataset in [Bigquery](https://console.cloud.google.com/bigquery) that will be used for this analysis if you don"t already have one. The dataset location should be in a [location that Vertex AI services are available](https://cloud.google.com/vertex-ai/docs/general/locations#available_regions).

In [11]:
# Load GCP credentials
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file(
    filename=CREDENTIALS_PATH
)

In [12]:
# Initiate the CrystalValue class with the relevant parameters.
pipeline = crystalvalue.CrystalValue(
  project_id=GCP_PROJECT_ID,  # The GCP project id.
  dataset_id=GCP_DATASET_ID,  # The name of the pre-created dataset to work in. 
  credentials=credentials,  # The (optional) credentials to authenticate Bigquery and AIPlatform clients.
  training_table_name=GCP_TABLE_ID_TRAIN,
  predict_table_name=GCP_TABLE_ID_PREDICT,
  customer_id_column=CUSTOMER_ID_COLUMN,  # The customer ID column.
  date_column=DATE_COLUMN,  # The transaction date column.
  value_column=VALUE_COLUMN,  #  Column to use for LTV calculation (i.e. profit or revenue).
  days_lookback=LOOKBACK_DAYS,  #  How many days in the past to use for feature engineering.
  days_lookahead=LOOKAHEAD_DAYS,  #  How many days in the future to use for value prediction.
  ignore_columns=IGNORE_COLUMNS,  #  A list of columns in your input table to ignore.
  location=GCP_LOCATION,  # This is the location of your dataset in Bigquery.
  write_parameters=True,  #  Write parameters to local file so they can be retrieved for prediction.
  parameters_filename=PARAMETERS_FILENAME
)

INFO:absl:Using Google Cloud Project: 'pltv-457408'
INFO:absl:Using dataset_id: 'crystalvalue'
INFO:absl:Using Google Cloud location: 'europe-west9'
INFO:absl:Using customer id column in input table: 'customer_id'
INFO:absl:Using date column in input table: 'date'
INFO:absl:Using value column in input table: 'value'
INFO:absl:Using days_lookback for feature calculation: 365
INFO:absl:Using days_lookahead for value prediction: 365
INFO:absl:Using trigger_event_date_column for value prediction: None
INFO:absl:Parameters writen to file: 'crystalvalue_parameters.json'

In [13]:
pipeline.load_dataframe_to_bigquery(data=train_data, bq_table_name=GCP_TABLE_ID_TRAIN)
pipeline.load_dataframe_to_bigquery(data=predict_data, bq_table_name=GCP_TABLE_ID_PREDICT)

/Users/pierre-emmanuel/Documents/freelance/pltv/venv/lib/python3.9/site-packages/google/cloud/bigquery/_pandas_helpers.py:489: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(
/Users/pierre-emmanuel/Documents/freelance/pltv/venv/lib/python3.9/site-packages/google/cloud/bigquery/_pandas_helpers.py:489: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

# Data Checks (Optional)

CrystalValue will run some checks on your data to check if the data is suitable for LTV modelling and raise errors if not. This will also output a new BigQuery table in your dataset called `crystalvalue_data_statistics` with key information such as the number of customers, customer return rate, transactions and analysis time period. This information can be used to check for outliers or anomalies (e.g. negative prices).

In [14]:
summary_statistics = pipeline.run_data_checks(transaction_table_name=GCP_TABLE_ID_TRAIN)

/Users/pierre-emmanuel/Documents/freelance/pltv/venv/lib/python3.9/site-packages/google/cloud/bigquery/table.py:1933: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(
INFO:root:Creating table 'pltv-457408.crystalvalue.crystalvalue_data_statistics' in location 'europe-west9'
/Users/pierre-emmanuel/Documents/freelance/pltv/venv/lib/python3.9/site-packages/google/cloud/bigquery/_pandas_helpers.py:489: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

In [15]:
summary_statistics

,number_of_rows,number_of_customers,number_of_transactions,total_analysis_days,number_of_days_with_data,max_transaction_date,min_transaction_date,lookahead_customer_return_rate,lookahead_customer_mean_returns,lookahead_customer_conditional_mean_returns,value_mean,value_std,value_min,value_25_quantile,value_50_quantile,value_75_quantile,value_max,transactions_per_customer_mean,transactions_per_customer_std,transactions_per_customer_min,transactions_per_customer_25_quantile,transactions_per_customer_50_quantile,transactions_per_customer_75_quantile,transactions_per_customer_max
statistics,51349,24919,51349,1049,1050,2025-04-15,2022-06-01,0.56,2.43,4.33,49.69,33.12,0.39,39.07,42.57,60.83,2684.79,2.06,2.76,1.0,1.0,1.0,2.0,50.0

- `lookahead_customer_return_rate`
    - **taux de retour (oui/non)**
    - proportion de clients qui ont **au moins une tx future** dans la fenêtre de `days_lookahead`
    - mesure de récurrence

- `lookahead_customer_mean_returns`
    - **jours moyens d’activité future (tous clients)**
    - nombre moyen de **jours avec une tx** dans la fenêtre de `lookahead`, par tx
    - **combien de jours** sont “actifs” dans la période `lookahead` après chaque tx

- `lookahead_customer_conditional_mean_returns`
    - **jours moyens d’activité chez ceux qui reviennent**
    - moyenne du nombre de jours avec transaction, uniquement chez ceux qui reviennent au moins une fois

If a custom data cleaning routine has to be implemented use the `.run_query()` method. The example below removes transactions with negative prices. This method could also be used to run custom feature engineering scripts instead of the automated `.feature_engineering()` method in the next step. This data cleaning routine can be scheduled as part of the pipeline that we will define later (for model training and prediction).

In [54]:
# check if there is any negative value
where_clause = [f"value_cat{i} >= 0" for i in range(1, 7)]
where_clause.append("value_uncategorized >= 0")
where_clause = " AND ".join(where_clause)

query = f"""
SELECT *
FROM {pipeline.project_id}.{pipeline.dataset_id}.{GCP_TABLE_ID_TRAIN}
WHERE {where_clause}
"""

print(query)
# pipeline.run_query(query_sql=query, destination_table_name=GCP_TABLE_ID)

SELECT *
FROM pltv-457408.crystalvalue.train
WHERE value_cat1 >= 0 AND value_cat2 >= 0 AND value_cat3 >= 0 AND value_cat4 >= 0 AND value_cat5 >= 0 AND value_cat6 >= 0 AND value_uncategorized >= 0

# Feature Engineering

Crystalvalue takes a transaction or browsing level dataset and creates a machine learning-ready dataset that can be ingested by AutoML. Data types are automatically inferred from the BigQuery schema unless the features are provided using the `feature_types` parameter in the `.feature_engineer()` method. Data transformations are applied automatically depending on the data type. The data crunching happens in BigQuery and the executed script can be optionally written to your directory. The features will be created in a BigQuery table called `crystalvalue_train_data` by default.

In [ ]:
crystalvalue_train_data = pipeline.feature_engineer(
  transaction_table_name=GCP_TABLE_ID_TRAIN,
)

# Model Training

Crystalvalue leverages [Vertex AI (Tabular) AutoML](https://cloud.google.com/vertex-ai/docs/training/automl-api) which requires a
[Vertex AI Dataset](https://cloud.google.com/vertex-ai/docs/datasets/create-dataset-api) as an input. CrystalValue automatically creates a Vertex AI Dataset from your input table as part of the training step of the pipeline. The training process typically takes about 2 or more hours to run. The Vertex AI Dataset will have a display name `crystalvalue_dataset`. The model will have a display name `crystalvalue_model` but it will also receive a model ID (so even if you train multiple models they will not be overwritten and can be identified using these IDs). By default CrystalValue chooses the following parameters:
*  Predefined split with random 15% of users as test, 15% in validation and 70% in training.
*  Optimization objective as Minimize root-mean-squared error (RMSE).
*  1 node hour of training (1000 milli node hours), which we recommend starting with. [Modify this in line with the number of rows](https://cloud.google.com/automl-tables/docs/train#training_a_model) in the dataset when you are ready for productionising. See information here about [pricing](https://cloud.google.com/automl-tables/pricing).

In this example we keep all the default settings so training the model is as simple as calling `pipeline.train_automl_model()`.

In order to make fast predictions later, you can deploy the model using the `.deploy_model()` method.

Once you start the training, you can view your model training progress here:  
https://console.cloud.google.com/vertex-ai/training/training-pipelines  
Once the training is finished, check out your Dataset (with statistics and distributions) and Model (with feature importance) in the UI:  
 https://console.cloud.google.com/vertex-ai/datasets   
 https://console.cloud.google.com/vertex-ai/models

In [ ]:
model_object = pipeline.train_automl_model()

In [ ]:
model_object = pipeline.deploy_model()

# Model Evaluation

To evaluate a model, we use the following criteria:

* The spearman correlation, a measure of how well the model **ranked** the Liftetime value of customers in the test set. This is measured between -1 (worse) and 1 (better).
* The normalised Gini coefficient, another measure of how well the model **ranked** the Lifetime value of customers in the test set compared to random ranking. This is measured between 0 (worse) and 1 (better). 
* The normalised Mean Average Error (MAE%). This is a measure of the **error** of the model"s predictions for Lifetime value in the test set. 
* top_x_percent_predicted_customer_value_share: The proportion of value (i.e. total profit or revenue) in the test set that is accounted for by the top x% model-predicted customers. 

These outputs are sent to a BigQuery table (by default called `crystalvalue_evaluation`). Subsequent model evaluations append model performance evaluation metrics to this table to allow for comparison across models.

In [ ]:
metrics = pipeline.evaluate_model()

# Generating predictions

Once model training is done, you can generate predictions. Features need to be engineered (the exact same as were used for model training) before prediction. This is done using the `.feature_engineer()` method by setting the parameter `query_type="predict_query"`. The features will be created in a BigQuery table called `crystalvalue_predict_data` by default. The model will make predictions for all customers in the provided input table that have any activity during the lookback window. The pLTV predictions will be for the period starting from the last date in the input table (not today"s date).

In [ ]:
crystalvalue_predict_data = pipeline.feature_engineer(
    transaction_table_name=GCP_TABLE_ID_PREDICT,  # An existing bigquery table in your dataset id containing the data to predict with.
    query_type="predict_query"
)


predictions = pipeline.predict(
    input_table=crystalvalue_predict_data,
    destination_table="crystalvalue_predictions"  # The bigquery table to append predictions to. It will be created if it does not exist yet.
)

# Scheduling daily predictions

Crystalvalue uses [Vertex Pipelines](https://cloud.google.com/vertex-ai/docs/pipelines/introduction) to schedule and monitor machine learning predictions. It can also be used for model retraining. The example below demonstrates how to set up the model to automatically create predictions using new input data from the source BigQuery table every day at 1am. The frequency and timing of the schedule can be altered using the chron schedule below. Once this pipeline is set up, you can view it [here](https://console.cloud.google.com/vertex-ai/pipelines). If you want a tutorial on how to set up Vertex Pipelines [this guide](https://cloud.google.com/vertex-ai/docs/pipelines/build-pipeline).

In order to use Vertex AI pipelines, we need a cloud storage bucket. Use the code below to create a cloud storage bucket. Note that you may have to grant Storage Object Admin to your service account to ensure the pipeline can run.

In [ ]:
BUCKET_NAME = "crystalvalue_bucket"
storage_bucket = pipeline.create_storage_bucket(bucket_name=BUCKET_NAME)

In order to use Vertex AI pipelines with Crystalvalue we also need to create a docker container which will be stored in Google Cloud Container Registry. The following code builds a docker container and pushes it to your [GCP Container Registry](https://cloud.google.com/container-registry).

In [ ]:
!docker build -t crystalvalue .
!docker tag crystalvalue gcr.io/$pipeline.project_id/crystalvalue
!docker push gcr.io/$pipeline.project_id/crystalvalue

The Kubeflow components contains self-contained functions. Read about [Kubeflow components](https://www.kubeflow.org/docs/components/pipelines/sdk/component-development/).

In [ ]:
from kfp import dsl
from kfp import compiler
from kfp.dsl import component


@component(base_image=f"gcr.io/{pipeline.project_id}/crystalvalue:latest")
def pipeline_function():  
  from src import crystalvalue
  parameters = crystalvalue.load_parameters_from_file()
  pipeline = crystalvalue.CrystalValue(**parameters)
  TRANSACTION_TABLE = "online_retail_data"  # Add your input table name.
  pipeline.run_data_checks(transaction_table_name=TRANSACTION_TABLE)  
  features = pipeline.feature_engineer(transaction_table_name=TRANSACTION_TABLE,
                                       query_type="predict_query")
  pipeline.predict(features)


@dsl.pipeline(
    name="crystalvaluepipeline",
    pipeline_root=f"gs://{BUCKET_NAME}/pipeline_root",
)
def crystalvalue_pipeline():
    pipeline_function()
    
compiler.Compiler().compile(
  pipeline_func=crystalvalue_pipeline,
  package_path="crystalvaluepipeline.json"
)

In [ ]:
from google.cloud import aiplatform

# Choose a region compatible with Vertex Pipelines. 
# This doesn"t have to be the same as your data location.

PROJECT_ID = pipeline.project_id,
REGION=pipeline.location,
DISPLAY_NAME="crystalvalue_pipeline",
PIPELINE_ROOT=f"gs://{BUCKET_NAME}/pipeline_root",
PACKAGE_PATH="crystalvaluepipeline.json",
aiplatform.init(
    project=PROJECT_ID,
    location=REGION,
)

pipeline_job = aiplatform.PipelineJob(
    display_name=DISPLAY_NAME,
    template_path=PACKAGE_PATH,
    pipeline_root=PIPELINE_ROOT,
)

## Check if your pipeline is running.
job.submit()

Create the scheduled pipeline. Adjust time zone and cron schedule as necessary.

In [ ]:
pipeline_job_schedule = pipeline_job.create_schedule(
  display_name="crystalvalue_pipeline_schedule",
  cron="TZ=CRON",
  max_concurrent_run_count=MAX_CONCURRENT_RUN_COUNT,
  max_run_count=MAX_RUN_COUNT,
)

You can view your running and scheduled pipelines at:
https://console.cloud.google.com/vertex-ai/pipelines or by adjusting the code below.

In [ ]:
aiplatform.PipelineJobSchedule.list(
  filter="display_name="DISPLAY_NAME"",
  order_by="create_time desc"
)

# (Optional) Get insights into the relationship between your features and customer LTV

To get insights into how your model is making predictions based on your features using the [What-If Tool](https://pair-code.github.io/what-if-tool/). Check out an [online demo here](https://pair-code.github.io/what-if-tool/demos/age.html).

In [ ]:
import numpy as np

from witwidget.notebook.visualization import WitConfigBuilder
from witwidget.notebook.visualization import WitWidget

In [ ]:
features_with_predictions = pd.concat([
    crystalvalue_predict_data.iloc[:,7:],
    predictions["predicted_value"]], axis=1)

In [ ]:
config_builder = WitConfigBuilder(
    np.array(features_with_predictions[0:1000]).tolist(),
    list(features_with_predictions)
)
WitWidget(config_builder, height=1000)

# Clean Up

To clean up tables created during this demo, delete the BigQuery tables that were created. All Vertex AI resources can be removed from the [Vertex AI console](https://console.cloud.google.com/vertex-ai). If you set up a Vertex Pipeline then also remove any relevant resources from [Cloud Storage](https://console.cloud.google.com/storage) and [Container Registry](https://console.cloud.google.com//gcr/images/).

In [ ]:
pipeline.delete_table("crystalvalue_data_statistics")
pipeline.delete_table("crystalvalue_evaluation")
pipeline.delete_table("crystalvalue_train_data")
pipeline.delete_table("crystalvalue_predict_data")
pipeline.delete_table("crystalvalue_predictions")